﻿@model CarDealership.Models.Manufacturer
@{
    ViewBag.Title = "Create";
}

<h2>Add new manufacturer</h2>

@using (Html.BeginForm("Create", "Manufacturer", FormMethod.Post, new { id = "create_manu" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.City)
        @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.State)
        @Html.TextBoxFor(m => m.State, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <input class="btn btn-default" value="Add" type="submit" />
    </div>

}
