﻿@using CarDealership.Models
@model ICollection<Manufacturer>
@{
    ViewBag.Title = "Index";
}

<h2>List of car manufacturers</h2>

<table class="table table-bordered table-bordered table-hover">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>State</th>
        <th>City</th>
    </tr>
    @foreach (var m in Model)
    {
        <tr>
            <td>@m.Id</td>
            <td>@m.Name</td>
            <td>@m.State</td>
            <td>@m.City</td>
        </tr>
    }

</table>

