﻿@using CarDealership.ViewModel
@model CarManufacturerViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Add new car</h2>
<div>
    @using (Html.BeginForm("Create", "Car", FormMethod.Post, new { id = "create_car" }))
    {
        <div>
            @Html.LabelFor(m => m.Car.Model)
            @Html.TextBoxFor(m => m.Car.Model)
        </div>
        <div>
            @Html.LabelFor(m => m.Car.Color)
            @Html.TextBoxFor(m => m.Car.Color)
        </div>
        <div>
            @Html.LabelFor(m => m.Car.Year)
            @Html.TextBoxFor(m => m.Car.Year)
        </div>
        <div>
            @Html.LabelFor(m => m.Car.Volume)
            @Html.TextBoxFor(m => m.Car.Volume)
        </div>
        <div class="form-group">
            @Html.DropDownListFor(m => m.Car.ManufacturerId, new SelectList(Model.Manufacturers, "Id", "Name"), "Select manufacturer")

        </div>

        <div class="form-group">
            <input class="btn btn-default" type="submit" />
        </div>


    }
</div>

