﻿@using CarDealership.ViewModel
@model CarViewModel

<h2>List of cars</h2>
<div class="container">
    <table class="table table-bordered table-bordered table-hover">       
            <tr>
                <th>Model</th>
                <th>Manufacturer</th>
                <th>Year</th>
                <th>Color</th>
                <th>Volume</th>
            </tr>       
            @foreach (var m in Model.Cars)
            {
                <tr>
                    <td>@m.Model</td>
                    <td>@m.Manufacturer.Name</td>
                    <td>@m.Year</td>
                    <td>@m.Color</td>
                    <th>@m.Volume</th>
                </tr>
            }
    </table>

</div>

