﻿@using CarDealership.ViewModel
@model DealershipCarsViewModel
@{
    ViewBag.Title = "AddCar";
}

<h2>AddCar</h2>

@using (Html.BeginForm("AddCar", "Dealership", FormMethod.Post))
{
    @Html.HiddenFor(m => m.DealershipId)

    @Html.DropDownListFor(m => m.CarId, new SelectList(Model.Cars, "Id", "Model"), "Select car")
    <input type="submit" class="btn btn-default" value="Save contract">
}