﻿@using CarDealership.ViewModel
@model DealershipManufacturersViewModel
@{
    ViewBag.Title = "Contract";
}

<h2>Contract</h2>

@using (Html.BeginForm("Contract", "Dealership", FormMethod.Post))
{
@Html.HiddenFor(m=>m.DealershipId)

@Html.DropDownListFor(m => m.ManufacturerId, new SelectList(Model.Manufacturers, "Id", "Name"), "Select manufacturer")
<input type="submit" class="btn btn-default" value="Save contract">

}