﻿@using CarDealership.Models
@model Dealership
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<h2>Dealership: @Model.Name</h2>
<h4>City: @Model.PIB</h4>
<h4>State: @Model.State</h4>
<h4>PIB: @Model.City</h4>



<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>Model</th>
        <th>Year</th>
        <th>Color</th>
        <th>Volume</th>
        <th>Manufacturer</th>
    </tr>
    @foreach (var car in Model.Cars)
    {
        <tr>
            <th>@car.Model</th>
            <th>@car.Year</th>
            <th>@car.Color</th>
            <th>@car.Volume</th>
            <th>@car.Manufacturer.Name</th>
        </tr>
    }
</table>
@Html.ActionLink("Add car", "AddCar", new { id = Model.Id })

<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>Manufacturer</th>
        <th>State</th>
        <th>City</th>

    </tr>
    @foreach (var con in Model.Contracts)
    {
        <tr>
            <th>@con.Manufacturer.Name</th>
            <th>@con.Manufacturer.State</th>
            <th>@con.Manufacturer.City</th>

        </tr>
    }
</table>
@Html.ActionLink("New contract", "Contract", new { id = Model.Id })
