﻿@using CarDealership.Models
@model IEnumerable<Dealership>
@{
    ViewBag.Title = "Index";
}
@if (Model == null)
{
    <h2> No dealerships added </h2>
}
else
{
    foreach (var d in Model)
    {
    <h2 >Dealership: @d.Name</h2>
    <h4>City: @d.PIB</h4>
    <h4>State: @d.State</h4>
    <h4>PIB: @d.City</h4>
    @Html.ActionLink("Details","Details",new {id=d.Id})
    }

}

